<!-- LIST OF ALL DRAFTS -->
<div id="view-drafts">
    <!-- NEW POST BUTTON -->
    <div>
        <button id="drafts-new-post-btn">+ NEW POST</button>
    </div>
    <!-- UPDATE POST TEMPLATE-->
    <div class="posts-container">
        <form class="post-card">
            <div class="send-btn-container">
                <button class="save-post-btn">Update Draft</button>
                <button class="send-post-btn">Post</button>
            </div>
            <div class="post-header">
                <input id="post-title" placeholder="Saved Title if any" />
                <h5 id="post-author">{{userData.name}}</h5>
            </div>
            <textarea class="post-content" id="new-post-textarea" cols="30" rows="10"
                placeholder="Type your heart away here"></textarea>
            <div class="category-buttons-container">
                <button class="select-btn">Select Category</button>
                <button class="create-btn">Create New Category</button>
            </div>
        </form>
    </div>
</div>