<header>
    <nav class="nav-position">
        <button class="nav-buttons">Home</button>
        <button class="nav-buttons">Dashboard</button>
        <button class="nav-buttons">Profile</button>
        <button class="nav-buttons">Logout</button>
    </nav>
    <div class="logo-position">
        <h1 id="logo">{{title}}</h1>
        <h2 id="subtitle">a tech blog</h2>
    </div>
</header>
