<header>
    <nav class="nav-position">
        <button type="click" class="nav-buttons" id="home">Home</button>
        <button type="click" class="nav-buttons" id="dashboard">Dashboard</button>
        <button type="click" class="nav-buttons" id="profile">Profile</button>
        <button type="click" class="nav-buttons" id="logout">Logout</button>
    </nav>
    <div class="logo-position">
        <h1 id="logo">BETCHA</h1>
        <h2 id="subtitle">a tech blog</h2>
    </div>
</header>
