<div id="new-post-template">
    <!-- VIEW DRAFTS BUTTON -->
    <div>
        <button id="new-post-drafts-btn">VIEW DRAFTS</button>
    </div>
    <!-- NEW POST TEMPLATE-->
    <div class="posts-container">
        <form class="post-card">
            <div class="send-btn-container">
                <button id="save-post-btn">Save Draft</button>
                <button id="send-post-btn">Post</button>
            </div>
            <div class="post-header">
                <input id="post-title" placeholder="Add a Title"/>
                <h5 id="post-author">{{userData.name}}</h5>
            </div>
            <textarea class="post-content" id="new-post-textarea" cols="30" rows="10"
                placeholder="Type your heart away here"></textarea>
            <div class="category-buttons-container">
                <button id="select-btn">Select Category</button>
                <button id="create-btn">Create New Category</button>
            </div>
        </form>
    </div>
</div>