{{> head title="Betcha - Dashboard" cssPath="/css/dashboard.css"}}

<body>
    <!-- NAV & HEADER -->
    {{> nav-and-header}}
    <div class="dashboard-container">
        <!-- NEW POST BUTTON -->
        <div class="options-container">
            <button id="new-post-btn">+ NEW POST</button>
            <br>
            <button id="view-drafts-btn">VIEW DRAFTS</button>
        </div>
    </div>
</body>