{{> head title="Betcha - Drafts" cssPath="/css/drafts.css"}}

<body>
    <!-- NAV & HEADER -->
    {{> partials/nav-and-header}}
    <!-- LIST OF ALL DRAFTS -->
    <div class="dashboard-container">
        <!-- NEW POST BUTTON -->
        <div class="options-container">
            <button id="new-post-btn">+ NEW POST</button>
        </div>
        <!-- UPDATE POST TEMPLATE-->
        {{> partials/update-draft-template}}
    </div>
</body>