<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{> layouts/main title="Betcha - Drafts"}}
    {{> layouts/main cssPath="../css/drafts.css"}}

    <!-- GOOGLE FONTS -->
    {{> partials/font}}
</head>

<body>
    <!-- NAV & HEADER -->
    {{> partials/header}}
    <!-- LIST OF ALL DRAFTS -->
    <div class="dashboard-container">
        <!-- NEW POST BUTTON -->
        <div class="options-container">
            <button id="new-post-btn">+ NEW POST</button>
        </div>
        <!-- UPDATE POST TEMPLATE-->
        {{> partials/update-draft-template}}
    </div>
</body>

</html>