<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{> layouts/main title="Betcha - Home"}}
    {{> layouts/main cssPath="../css/home.css"}}

    <!-- GOOGLE FONTS -->
    {{> layouts/main font={{> partials/font}}}}
</head>
<main>
    <!-- NAV & HEADER -->
    {{> partials/nav-and-header}}
    <!-- BLOG POSTS -->
    <div class="dashboard-container">
        <!-- SIDEBAR NAV -->
        <nav class="sidebar-container">
            <h4 id="categories">Categories</h4>
            <ul id="category-links">list goes here</ul>
        </nav>
        <!-- EACH POST -->
        <div class="posts-container">
            <div class="post-card">
                <div class="post-header">
                    <h4 id="post-title">Blog Post Title</h4>
                    <h5 id="post-author">Posted by XXX on XX/XX/XXXX </h5>
                </div>
                <div class="post-content">
                    <p id="post-data">content of post</p>
                </div>
                <!-- COMMENTS -->
                <div class="comment-btn-container">
                    <button id="comment-btn">Comment</button>
                </div>
                <form class="comment-container">
                    <textarea class="post-content" id="new-comment-textarea" cols="30" rows="7"
                        placeholder="Add a comment here">
                            </textarea>
                    <div class="submit-container">
                        <button class="submit-comment-btn">Submit Comment</button>
                        <button class="cancel-comment-btn">Cancel Comment</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>