<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{> layouts/main title="Betcha - Login"}}
    {{> layouts/main cssPath="../css/login.css"}}

    <!-- GOOGLE FONTS -->
    {{> partials/font}}
</head>

<body>
    <!-- HEADER -->
{{> partials/header}}
    <!-- INPUT FIELDS -->
    <form>
        <label for="input"></label>
        <br>
        <input id="email-input" type="text" placeholder="email">
        <br>
        <input id="pass-input" type="text" placeholder="password">
        <br>
        <button id="login-btn">Login</button>
        <button id="sign-up-btn">Sign Up</button>
    </form>

</body>
