<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Betcha - login</title>
    <link rel="stylesheet" href="../public/css/login.css">

    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css2?family=Rubik&family=Rubik+Lines&display=swap" rel="stylesheet">
</head>

<body>
    <!-- HEADER -->
    <header>
        <div class="logo-position">
            <h1 id="logo">BETCHA</h1>
            <h2 id="subtitle">a tech blog</h2>
        </div>
    </header>
    <!-- INPUT FIELDS -->
    <form>
        <label for="input"></label>
        <br>
        <input id="email-input" type="text" placeholder="email">
        <br>
        <input id="pass-input" type="text" placeholder="password">
        <br>
        <button id="login-in-btn">Login In</button>
        <button id="sign-up-btn">Sign Up</button>
    </form>

</body>

</html>