{{> head title="Betcha - New Post" cssPath="/css/new-post-template.css"}}

<body>
    <!-- NAV & HEADER -->
    {{> nav-and-header}}
    <div class="dashboard-container">
        <!-- NEW POST TEMPLATE-->
        {{> new-post-template}}
    </div>
</body>