{{> head title="Betcha - Profile" cssPath="/css/profile.css"}}

<body>
    <!-- NAV & HEADER -->
    {{> nav-and-header}}
    <div class="dashboard-container">
        <!--PROFILE -->
        <div class="profile-container">
            <form class="profile-card">
                <div class="send-btn-container">
                    <button class="update-profile-btn">Update Profile</button>
                </div>
                <div class="profile-content">
                    <h4 id="username">{{user.name}}</h4>
                    <p id="profile-email">{{user.email}}</p>
                </div>
            </form>
        </div>
    </div>

    <script src="/js/profile.js"></script>
</body>