<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Betcha - profile</title>
    <link rel="stylesheet" href="../css/profile.css">

    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css2?family=Rubik&family=Rubik+Lines&display=swap" rel="stylesheet">
</head>

<body>
    <!-- NAV & HEADER -->
    {{> partials/nav-and-header}}
    <div class="dashboard-container">
        <!--PROFILE -->
        <div class="profile-container">
            <form class="profile-card">
                <div class="send-btn-container">
                    <button class="update-profile-btn">Update Profile</button>
                </div>
                <div class="profile-content">
                    <h4 id="user-first-name">User's First Name</h4>
                    <h4 id="user-last-name">User's Last Name</h4>
                    <p id="profile-email">email</p>
                </div>
            </form>
        </div>
    </div>
    </form>
    </div>
    </div>
</body>

</html>