{{> head title="Betcha" cssPath="/css/root.css"}}

<body>
    <!-- NAV & HEADER -->
    {{> header}}
    <div class="dashboard-container">
        <!-- NEW POST BUTTON -->
        <div class="options-container">
            <button type="click" id="login-btn">Login In</button>
            <br>
            <button type="click"id="sign-up-btn">Sign Up</button>
        </div>
    </div>
    
    <script src="/js/root.js"></script>
</body>