/* MAIN COLORS & FONT SIZES */
:root {
    --header-color: rgb(112, 141, 107);
    --sidebar-color: rgba(22, 66, 13, 0.326);
    --brown-text: rgba(69, 54, 13, 0.918);
    --cream-text: rgb(242, 231, 212);
    --main-background-color: rgb(242, 231, 212);
    --button-color: rgba(69, 54, 13, 0.918);
    --input-box-color: rgb(242, 231, 212);
}

body {
    background-color: var(--main-background-color);
    min-height: 100vh;
}

/* HEADER -- NAV */
header {
    background-color: var(--header-color);
    margin-left: -1%;
    margin-right: -1%;
    margin-top: -1%;
    padding: 1%;
}

.nav-position {
    display: flex;
    justify-content: right;
    margin-bottom: 0%;
}

.nav-buttons {
    background-color: var(--main-background-color);
    color: var(--brown-text);
    font-family: Rubik;
    font-size: 1rem;
    margin: .25%;
    padding: .5%;
    border-radius: 5px;
    border-style: hidden;
    box-shadow: 1px 4px 5px rgba(69, 54, 13, 0.918);
}

/* HEADER -- LOGO */
.logo-position {
    display: block;
    justify-content: left;
    width: 50%;
}

#logo {
    color: var(--cream-text);
    text-shadow: 1px 5px 5px rgba(69, 54, 13, 0.918);
    font-family: Rubik Lines;
    font-size: 4rem;
    margin-top: 0%;
    margin-bottom: 0%;
    text-align: center;
}

#subtitle {
    color: var(--brown-text);
    text-shadow: 1px 1px 5px rgba(242, 231, 212, 0.5);
    font-family: Rubik Lines;
    font-size: 2rem;
    margin-top: 0%;
    text-align: center;
}

.dashboard-container {
    display: block;
    justify-content: center;
    width: 100%;
}

/* OPTIONS CONTAINER */
.options-container {
    display: block;
    text-align: center;
    margin-top: 20%;
}

#new-post-btn,
#view-drafts-btn {
    background-color: var(--button-color);
    color: var(--cream-text);
    font-family: Rubik Lines;
    font-size: 2rem;
    margin-top: 2%;
    margin-right: .5%;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 5px;
    border-style: hidden;
    width: 30%;
}

button:active {
    transform: translateY(5px);
    transition: 200ms;
}

/* NEW POST TEMPLATE */
#new-post-template {
    display: none;
    text-align: center;
}

.posts-container {
    display: block;
    margin: 5%;
}

.post-card {
    background-color: var(--header-color);
    box-shadow: 1px 4px 5px rgba(69, 54, 13, 0.918);
    border-radius: 5px;
    padding: 3%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: auto;
    margin-top: 0%;
    width: 80%;
}

.send-btn-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: right;
    width: 99%;
}

.send-post-btn {
    background-color: var(--button-color);
    color: var(--cream-text);
    font-family: Rubik;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-bottom: 2%;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.save-post-btn {
    background-color: var(--button-color);
    color: var(--cream-text);
    font-family: Rubik;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-bottom: 2%;
    margin-right: 1%;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.post-header {
    background-color: var(--main-background-color);
    border-radius: 5px;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    word-wrap: break-word;
    padding-left: 2%;
    padding-right: 2%;
    width: 95%;
}

#post-title {
    background-color: var(--main-background-color);
    color: var(--brown-text);
    text-shadow: 1px 1px 5px rgba(242, 231, 212, 0.5);
    font-size: 1.5rem;
    font-family: Rubik Lines;
    display: block;
    word-wrap: break-word;
    text-align: left;
    width: 100%;
    margin: 2%;
    border-color: none;
    border-style: none;
}

#post-author {
    color: var(--brown-text);
    font-size: 1rem;
    font-family: Rubik;
    font-style: italic;
    display: block;
    word-wrap: break-word;
    text-align: right;
    width: 100%;
    margin: 2.5%;
}

.post-content {
    word-wrap: break-word;
    width: 100%;
    width: 95%;
}

#new-post-textarea {
    background-color: var(--main-background-color);
    color: var(--brown-text);
    font-size: 1.2rem;
    font-family: Rubik;
    border-radius: 5px;
    margin-top: 4%;
    padding: 2%;
}

.category-buttons-container {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.select-btn,
.create-btn {
    background-color: var(--button-color);
    color: var(--cream-text);
    font-family: Rubik;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-top: 2%;
    margin-right: 2%;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 22%;
}

#view-drafts {
    display: none;
    text-align: center;
}

#new-post-drafts-btn,
#drafts-new-post-btn {
    background-color: var(--button-color);
    color: var(--cream-text);
    font-family: Rubik Lines;
    font-size: 2rem;
    margin-top: 5%;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 5px;
    border-style: hidden;
}