/* MAIN COLORS & FONT SIZES */
:root {
    --header-color: rgba(22, 66, 13, 0.619);
    --sidebar-color: rgba(22, 66, 13, 0.457);
    --nav-background-color: rgb(93, 139, 88);
    --brown-text: rgba(69, 54, 13, 0.918);
    --cream-text: rgb(242, 231, 212);
    --main-background-color: rgb(242, 231, 212);
    --content-font-size: 1.5rem;
}

body {
    color: var(--main-text-color);
    background-color: var(--main-background-color);
}

/* HEADER -- NAV AND LOGO */
header {
    background-color: var(--header-color);
    margin-left: -1%;
    margin-right: -1%;
    margin-top: -1%;
    padding: 1%;
}

.nav-position {
    display: flex;
    justify-content: right;
    margin-bottom: 0%;
}

.nav-buttons {
    background-color: var(--main-background-color);
    color: var(--brown-text);
    font-size: 1rem;
    margin: .25%;
    padding: 1%;
    border-radius: 5px;
    border-style: hidden;
}

.logo-position {
    display: block;
    justify-content: left;
    margin-left: 10%;
}

#logo {
    color: var(--cream-text);
    margin-top: 0%;
    margin-bottom: 0%;
}

#subtitle {
    color: var(--brown-text);
    margin-top: 0%;
    margin-left: 2.8%;
    font-size: 1.2rem;
}

.dashboard-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    max-width: 100%;
}

/* SIDEBAR NAV */
.sidebar-container {
    background-color: var(--sidebar-color);
    display: flex;
    flex-direction: column;
    justify-content: left;
    flex-wrap: wrap;
    padding: 1%;
    margin-left: -1%;
    width: 50%;
    min-height: 125vh;
}

#categories {
    color: var(--cream-text);
    text-align: center;
}

#category-links {
    color: var(--brown-text);
    text-align: left;
}

/* POSTS */
.posts-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    margin: 5%;
    max-width: 100%;
    min-height: 125vh;
}

.post-card {
    background-color: var(--header-color);
    border-radius: 5px;
    padding: 3%;
    display: block;
    flex-direction: column;
    flex-wrap: nowrap;
    max-width: 90%;
    margin: auto;
    margin-top: 0%;
}

.post-header {
    background-color: var(--main-background-color);
    border-radius: 5px;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    word-wrap: break-word;
    width: 100%;
}

#post-title {
    color: var(--brown-text);
    display: block;
    word-wrap: break-word;
    text-align: left;
    width: 100%;
    margin: 2%;
}

#post-author {
    color: var(--brown-text);
    display: block;
    word-wrap: break-word;
    text-align: right;
    width: 100%;
    margin: 2.5%;
}

.post-content {
    color: var(--cream-text);
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    word-wrap: break-word;
    width: 100%;
}

#post-data {
    margin-top: 4%;
    max-width: 100%;
}