/* MAIN COLORS & FONT SIZES */
:root {
    --background-color: rgb(112, 141, 107);
    --button-color: rgba(69, 54, 13, 0.918);
    --input-box-color: rgb(242, 231, 212);
    --brown-text: rgba(69, 54, 13, 0.918);
    --cream-text: rgb(242, 231, 212);
}

body {
    color: var(--main-text-color);
    background-color: var(--background-color);
    min-height: 125vh;
}

/* HEADER -- LOGO */
header {
    margin-left: -1%;
    margin-right: -1%;
    margin-top: -1%;
    padding: 1%;
}

.logo-position {
    display: block;
}

#logo {
    color: var(--cream-text);
    text-shadow: 1px 5px 5px rgba(69, 54, 13, 0.918);
    font-family: Rubik Lines;
    font-size: 6rem;
    margin-top: 0%;
    margin-bottom: 0%;
    text-align: center;
}

#subtitle {
    color: var(--brown-text);
    text-shadow: 1px 1px 5px rgba(242, 231, 212, 0.5);
    font-family: Rubik Lines;
    font-size: 3rem;
    margin-top: 0%;
    text-align: center;
}

.dashboard-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    max-width: 100%;
}

/* INPUT FIELDS */
form {
    text-align: center;
    margin-top: 10%;
}

label {
    color: var(--cream-text);
    font-family: Rubik Lines;
    font-size: 1.7rem;
    text-align: center;
}

#email-input {
    background-color: var(--input-box-color);
    color: var(--brown-text);
    font-family: Rubik;
    font-size: 1.5rem;
    border-radius: 5px;
    margin-bottom: 1%;
    padding: 1%;
    width: 30%;
}

#pass-input {
    background-color: var(--input-box-color);
    color: var(--brown-text);
    font-family: Rubik;
    font-size: 1.5rem;
    border-radius: 5px;
    padding: 1%;
    width: 30%;
}

#login-btn {
    background-color: var(--button-color);
    color: var(--cream-text);
    box-shadow: hsla(15, 87%, 30%, 0.292) 0px 3px 5px 1px;
    font-family: Rubik Lines;
    font-size: 1.7rem;
    margin-top: 1%;
    margin-right: .5%;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: .5%;
    padding-bottom: .5%;
    border-radius: 5px;
    border-style: hidden;
    width: 15%;
}

#sign-up-btn {
    background-color: var(--button-color);
    color: var(--cream-text);
    box-shadow: hsla(15, 87%, 30%, 0.292) 0px 3px 5px 1px;
    font-family: Rubik Lines;
    font-size: 1.7rem;
    margin-top: 1%;
    margin-left: .5%;
    padding-left: 2%;
    padding-right: 2%;
    padding-right: 2%;
    padding-top: .5%;
    padding-bottom: .5%;
    border-radius: 5px;
    border-style: hidden;
    width: 15%;
}

button:active {
    transform: translateY(5px);
    transition: 200ms;
}