/* MAIN COLORS & FONT SIZES */
:root {
    --header-color: rgb(112, 141, 107);
    --sidebar-color: rgba(22, 66, 13, 0.326);
    --brown-text: rgba(69, 54, 13, 0.918);
    --cream-text: rgb(242, 231, 212);
    --main-background-color: rgb(242, 231, 212);
    --button-color: rgba(69, 54, 13, 0.918);
    --input-box-color: rgb(242, 231, 212);
}

body {
    background-color: var(--main-background-color);
    min-height: 100vh;
}

/* HEADER -- NAV */
header {
    background-color: var(--header-color);
    margin-left: -1%;
    margin-right: -1%;
    margin-top: -1%;
    padding: 1%;
}

.nav-position {
    display: flex;
    justify-content: right;
    margin-bottom: 0%;
}

.nav-buttons {
    background-color: var(--main-background-color);
    color: var(--brown-text);
    font-family: Rubik;
    font-size: 1rem;
    margin: .25%;
    padding: .5%;
    border-radius: 5px;
    border-style: hidden;
    box-shadow: 1px 4px 5px rgba(69, 54, 13, 0.918);
}

/* HEADER -- LOGO */
.logo-position {
    display: block;
    justify-content: left;
    width: 50%;
}

#logo {
    color: var(--cream-text);
    text-shadow: 1px 5px 5px rgba(69, 54, 13, 0.918);
    font-family: Rubik Lines;
    font-size: 4rem;
    margin-top: 0%;
    margin-bottom: 0%;
    text-align: center;
}

#subtitle {
    color: var(--brown-text);
    text-shadow: 1px 1px 5px rgba(242, 231, 212, 0.5);
    font-family: Rubik Lines;
    font-size: 2rem;
    margin-top: 0%;
    text-align: center;
}

.dashboard-container {
    display: block;
    justify-content: center;
    width: 100%;
}

/* PROFILE INFO */
.profile-container {
    display: block;
    margin: 5%;
}

.profile-card {
    background-color: var(--header-color);
    box-shadow: 1px 4px 5px rgba(69, 54, 13, 0.918);
    border-radius: 5px;
    padding: 3%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: auto;
    margin-top: 0%;
    width: 80%;
}

.send-btn-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: right;
    width: 99%;
}

.update-profile-btn {
    background-color: var(--button-color);
    color: var(--cream-text);
    font-family: Rubik;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-bottom: 2%;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.profile-content {
    /* background-color: var(--main-background-color); */
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding-left: 2%;
    padding-right: 2%;
    width: 95%;
}

#user-first-name {
    background-color: var(--main-background-color);
    color: var(--brown-text);
    font-size: 1.2rem;
    font-family: Rubik;
    border-radius: 5px;
    margin-bottom: 1%;
    padding: 2%;
}

#user-last-name,
#profile-email {
    background-color: var(--main-background-color);
    color: var(--brown-text);
    font-size: 1.2rem;
    font-family: Rubik;
    border-radius: 5px;
    margin-bottom: 2%;
    padding: 2%;
}